
* {
        box-sizing: border-box;
}

[class*="col-"] {
        float: left;
        padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header {
        background-color: white;
        margin: 0 auto;
        width: 96%;
	padding: 40px;
        font-size: 30px;
        color: white;
        border-bottom: 2px solid gray;
}
.logo {
        float: left;
        background-color: #4aaaa5;
        top: 0%;
        height: 75px;
        position: absolute;
        margin-left: 113px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 25pt;
    color: #4aaaa5;
    border-bottom: 2px solid gray;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.active1 {
        float: right;
        font-size: 12pt;
        padding: 5px;
        border-right: 1px solid lightgray;
        position: absolute;
        left: 75%;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
.active2 {
        float: right;
        font-size: 12pt;
        padding: 5px;
        border-right: 1px solid lightgray;
        position: absolute;
        left: 81%;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
.active3 {
        float: right;
        font-size: 12pt;
        padding: 5px;
        border-right: 1px solid lightgray;
        position: absolute;
        left: 70%;
        font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
        background-color: lightgray;
}

img {
        float: left;
}

container {
        width: 960px;
        margin: 0 auto;
        background-color: white;
        padding: 50px;
        font-size: 18pt;
        font-family: Arial, Helvetica, sans-serif;
}

.container1 {
        width: 960px;
        margin: 0 auto;
        background-color: white;
        padding: 50px;
        font-size: 18pt;
        font-family: Arial, Helvetica, sans-serif;
}
.project1 {
        position: absolute;
        left: 33%;
        top: 30%;
}
.project2 {
        position: absolute;
        left: 50%;
        top: 30%;
}
.project3 {
        position: absolute;
        left: 33%;
        top: 60%;
}
.project4 {
        position: absolute;
        left: 50%;
        top: 60%;
}
.project5 {
        position: absolute;
        left: 33%;
        top: 90%;
}


footer {
        background-color: gray;
        margin: 0 auto;
        width: 100%;
        padding: 15px;
        border-top: 2px solid #4aaaa5;
        font-size: 8px;
        color: white;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        position: fixed;
        bottom: 1px;
}
input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
input[type=submit] {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.project {
        position: relative;
        width: 150px;

}
.project a {
        position: absolute;
        left: 0%;
        top: 100px;
        background-color: gray;
        width: 100%;

}

.imagelabel {
        position: absolute;
        top: 75%;
        left: 0;
        color: white;
        background-color: #4aaaa5;
        font-size: 10pt;
}

@media screen and (max-width: 980px) {

}


@media screen and (max-width: 768px) {
        .header {
                float: none;
        }
        [class*="col-"] {
                width: 100%;
            }
            .column {
                flex: 100%;
                max-width: 100%;
              }
              .column img {
                margin-top: 8px;
                vertical-align: middle;
              }
            


}


@media screen and (max-width: 600px) {
        .header {
                float: none;
                word-wrap: inherit;
        }
        [class*="col-"] {
                 width: 100%;
        }
        project1 
        project2 
        project3 
        project4 
        project5 {
                width: 100%;
                height: auto;
            }
            .column {
                flex: 100%;
                flex-wrap: wrap;
                max-width: 100%;
              }
              .column
               {
                margin-top: 8px;
                vertical-align: middle;
              }
            

}

